* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

header {
  padding: 2em;
  text-align: center;
  font-size: 32px;
}

main {
  display: flex;
  justify-content: center;
}

.user-interface {
  width: 350px;
  padding: 0 1em;
}

.user-interface h2 {
  margin-bottom: 0.2em;
}

.eraser-btns,
.grid-size-btns {
  margin-top: 1em;
}

.container {
  display: grid;
  width: 500px;
  height: 500px;
  box-shadow: 0 0 8px rgb(108, 108, 108);
}

.size-one {
  grid-template-columns: repeat(16, 1fr);
}

.size-two {
  grid-template-columns: repeat(32, 1fr);
}

.size-three {
  grid-template-columns: repeat(48, 1fr);
}

.size-four {
  grid-template-columns: repeat(64, 1fr);
}

.btn {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 3px 1px;
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 3px rgb(108, 108, 108);
  cursor: pointer;
}

.btn:hover {
  background-color: aliceblue;
}

.btn-disabled {
  background-color: #dadada;
  cursor: not-allowed;
}

.btn-disabled:hover {
  background-color: #dadada;
}